/* Body style */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #424242;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6rem;
}
/* Header */
header {
  padding: 4%;
  background-color: #48cfcb;
  text-align: center;
}
header h1 {
  color: #424242;
}

/* Navbar */
nav {
  text-align: center;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  background-color: #229799;
  border-radius: 10px;
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;
}
nav a {
  color: #424242;
  text-decoration: none;
}
nav a:hover {
  color: #424242;
  text-decoration: underline;
}
nav a:visited {
  text-decoration: none;
  color: #424242;
}

/* Headings 2-6 */
h2,
h2,
h3,
h4 {
  color: #424242;
}

section {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}
